* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;

}

body {
    background: #333;
    color: #127962;
    background: url('Image/kamin-rozhdestvo-kakao-christmas-fireplace-holiday-celebra-1 (1).jpg');
    background-attachment: fixed;
    background-size: cover;
    /*opacity: 0.8;*/
    /* -webkit-filter: blur(5px);
     -moz-filter: blur(5px);
     filter: blur(5px);*/
}

.grid-container {
    height: 100vh;
    display: grid;
    grid-template-areas: "header" "." "menu" "." "content" "." "sidebar" "." "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 80px 5px 80px 5px 1fr 5px 80px 5px 80px;
}

.header {
    grid-area: header;
}

.menu {

    grid-area: menu;

}

.sidebar {
    grid-area: sidebar;

}

.use-option {
    margin: auto;
}

.helptext {
    font-size: 15px;
}

.content {
    font-family: sans-serif;
    font-size: 20px;
    grid-area: content;
    background-color: #866b0175;
    padding: 0 7%;

    padding-top: 15px;
    margin: 0 5%;
    box-shadow: 0 0 50px rgba(222, 160, 8, 0.2);
}

.inside-container input {
    width: auto;
}

.inside-container p {
    color: #d0c211;
    font-size: 17px;
    padding-bottom: 10px;

}

a {
    color: rgba(255, 245, 17, 0.77);
}

.inside-container h2 {
    padding: 20px 0;
    padding: 0px;
}

#searchValue {
    width: 80%;
    margin-bottom: 10px;
    margin-right: 20px;
    padding: 0 20px;
}

#similarFilms span {
    padding: 15px;
    margin-bottom: 16px;
    display: block;
    background-color: rgba(255, 186, 2, 0.09);
}

.inside-container {
    display: block;
    font-family: sans-serif;
    padding: 0 7%;
    opacity: 0, 5;
    padding-top: 15px;
    margin: 0 10%;
    background: rgba(35, 33, 27, 0.63);
    box-shadow: 0 0 50px rgba(62, 56, 41, 0.64);
    color: rgba(255, 255, 50, 1);
    z-index: 100;
    margin: 16px 10%;
    padding-bottom: 15px;
}

h3 {
    text-align: center;
}

@media screen and (min-width: 468px) {

    .grid-container {
        height: 100vh;
        display: grid;
        grid-template-areas: "header header header header header" ". . . . ." "menu . content . sidebar" ". . . . ." "footer footer footer footer footer";
        grid-template-columns: 130px 5px 1fr 5px 130px;
        grid-template-rows: 40px 5px 1fr 5px 40px;
    }
}


@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 990px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

nav {
    background: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    display: inline-block;

    /*    opacity: 0.9;*/
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 40px;
    margin-left: 17px;
}

nav a {
    text-decoration: none;
    text-align: center;
    color: #fff;
    display: block;
    padding: 10px;
}

nav a:hover {
    background-color: #555;
}

/* social menu base styles */
.userSS {
    margin: auto;
    padding-top: 10px;
}

a.tw {
    background: url(offline.png) no-repeat center;
    background-size: 80%;

}

a.fb {
    background: url(online.png) no-repeat center;
    background-size: 80%;
}

.social a {
    text-indent: -10000px;
    margin: 0 auto;
}

.social {
    max-width: 80px;
    margin: 0 auto; /* do at end */
}

/* grid vs flex base styles */

/* flex styles */

nav ul.social li {
    flex: 1 1 0;
}

nav ul.social {
    flex: 1 1 0;
    display: flex;
}

@media screen and (min-width: 768px) {

    nav ul {
        display: flex;
    }

    nav li {
        flex: 1 1 0;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }

    ul.social {
        margin: 0;
    }

}

/* end media 768    ul -------*/
ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}

ul.menu > li {
    float: left;
    position: relative;
}

ul.menu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: #333;
    text-decoration: none;
}

ul.menu > li > a:hover {
    background-color: black;
}

ul.submenu {
    display: none;
    position: absolute;
    width: 250px;
    top: 37px;
    left: 0;
    background-color: white;
    border: 1px solid #333;
}

.menu > li {
    width: 100px;
}

ul.submenu > li {
    display: block;
}

ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: #333;
    text-decoration: none;
}

ul.submenu > li > a:hover {
    text-decoration: underline;
}

ul.menu > li:hover > ul.submenu {
    display: block;
}

.question {
    background-color: #58585899;
    padding: 5px 26px;
    margin: 2%;

}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
